:host {
  display: flex;
  padding-top: 10px;
  gap: 20px;
  justify-content: center;

  img {
    flex: 0 0 300px;
  }

  .special-price-label {
    color: red;
    margin-left: 0.5em;
  }
  section {
    padding: 10px 20px;
    flex: 0 0 450px;
    border: 1px solid #ccc;
    border-radius: 10 px;

    > div {
      margin-bottom: 20px;

      > strong {
        display: inline-block;
        font-size: 18px;
        width: 120px;
        text-align: center;
      }

      > span {
        display: inline-block;
        font-size: 18px;
      }

      &.button {
        display: flex;
        justify-content: space-between;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;

          &.add {
            background-color: #007bff;
            color: white;
          }
        }
      }
    }
  }
  .add-cart-toast {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-cart-toast-content {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 24px 32px;
      border-radius: 12px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        font-size: 40px;
        color: #4caf50;
        margin-bottom: 10px;
      }
      span {
        color: #222;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }
}
