<app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [(isShow)]="isShow"
  [photourl]="photourl"
  [createDate]="createDate"
  [price]="price"
></app-product-card>
<app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [(isShow)]="isShow"
  [photourl]="photourl"
  [createDate]="createDate"
  [price]="price"
></app-product-card
><app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [(isShow)]="isShow"
  [photourl]="photourl"
  [createDate]="createDate"
  [price]="price"
></app-product-card
><app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [(isShow)]="isShow"
  [photourl]="photourl"
  [createDate]="createDate"
  [price]="price"
></app-product-card>
