:host {
  display: block;

  a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #005ccb;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active,
    &:force {
      text-decoration: none;
    }

    &:hover {
      background-color: #005ccb33;
    }

    &.active {
      background-color: #005ccb1a;
    }
  }

  .cart-badge {
    margin-left: 6px;
    background: #2979ff;
    color: #fff;
    border-radius: 100px;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
  }
}
