<div class="cart-page">
  <form [formGroup]="customerForm" autocomplete="off">
    <div class="customer-info">
      <h3>基本資料</h3>
      <div class="form-row">
        <label>姓名</label>
        <input type="text" formControlName="name" placeholder=/> @if (customerForm.get('name')?.invalid ) {
        <div class="error">請輸入姓名</div>
        }
      </div>
      <div class="form-row">
        <label>地址</label>
        <input type="text" formControlName="address" placeholder=/> @if (customerForm.get('address')?.invalid ) {
        <div class="error">請輸入地址</div>
        }
      </div>
      <div class="form-row">
        <label>電話</label>
        <input type="text" formControlName="phone" placeholder=/> @if (customerForm.get('phone')?.invalid ) {
        <div class="error">請輸入電話</div>
        }
      </div>
    </div>
  </form>

  <div class="cart-list">
    <h3>購買項目</h3>
    @if (!carts || carts.length === 0) {
    <div class="cart-empty">購物車內尚無商品</div>
    } @if (carts && carts.length > 0) {
    <table>
      <tbody>
        @for (item of carts; track item.id; let i = $index) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>
            <input type="number" [value]="item.qty" min="1" (input)="onQtyChange(i, $any($event.target).value)" placeholder="數量" />
          </td>
          <td>${{ item.specialPrice || item.price }}</td>
          <td>${{ (item.specialPrice || item.price) * item.qty }}</td>
          <td>
            <button (click)="remove(i)">刪除</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
<div class="total-count">
  <button [disabled]="!canCheckout" (click)="checkout()">送出訂單 ({{ cartsTotal }})</button>
</div>
